table, tr, td {
  width: 300px;
  text-align: center;
}

.image {
  width: 200px;
  height: auto:
}

th {
  color: blue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: DejaVu Sans Mono, monospace;
}
