table, tr, td {
  width: 100%;
  text-align: center;
}

th {
  font-size: 60px;
  color: blue;
  font-family: DejaVu Sans Mono, monospace;
}

.image {
  width: 250px;
  height: auto;
}

.data {
  color: purple;
  font-size: 50px;
  text-align: center;
  font-family: Verdana, sans-serif;
}
