table, tr, td {
  width: 200px;
  text-align: center;
}

.data {
  color: purple;
  font-size: 100px;
  text-align: center;
  font-family: Verdana, sans-serif;

.image {
  width: 100px;
  height: 100px:
}

.dataName {
  font-size: 200px;
  color: blue;
  font-family: DejaVu Sans Mono, monospace;
  }
